.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0;
    max-width: 445px;
}

.profile__title {
    font-family: 'Concrete', 'Golos-Text', sans-serif;
    font-weight: normal;
    margin: 0 auto 60px;
}
.profile__field {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 28px;
}

.profile__field::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
}

.profile__field:last-of-type::after {
    display: none;
}

.profile__field-title {
    color: #9CA3AF;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}
.profile__field-text {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.profile__button {
    width: 100%;
    margin-bottom: 12px;
    border: none;
    cursor: pointer;
    background-color: #FFDA55;
    padding: 12px;
    border-radius: 7px;
    font-weight: 500;
    transition: all .1s ease-in;
}

.profile__button:hover {
    background-color: #f7c40b;
}

.profile__button_accent {
    background-color: #EEEEEE;
}

.profile__button_accent:hover {
    background-color: #dadada;
}