.theme-switcher {
    background: var(--theme-switcher-background);
    width: 62px;
    height: 62px;
    background-position: right 16px center;
    transition: all .2s ease-in;
    cursor: pointer;
    border-radius: 31px;
    border: none;
    padding: 16px;
    margin: 0;
    position: fixed;
    right: 55px;
    bottom: 60px;
    text-align: left;
    z-index: 10000;
}

.theme-switcher__text {
    color: var(--theme-switcher-color);
    font-weight: 500;
    opacity: 0;
}

.theme-switcher:hover {
    width: 172px;
}

.theme-switcher:hover>.theme-switcher__text {
    opacity: 1;
    transition-delay: .2s;
}

@media screen and (max-width: 760px) {
    .theme-switcher {
        right: 15px;
        bottom: 100px;
        opacity: .9;
    }

    .theme-switcher:hover {
        width: 62px;
        opacity: 1;
    }

    .theme-switcher:hover>.theme-switcher__text {
        opacity: 0;
    }
}
